go 1.24.1

use (
	.
	./deploy
	./examples/additional
	./examples/exposed-monopod
	./examples/exposed-multipod
	./examples/kompose
	./examples/kubernetes
	./examples/no-sdk
	./examples/teeworlds
	./sdk
)
