name: CI

on:
  push:
    paths:
      - '.github/workflows/*.yaml'
      - '**.go'
      - '**.proto'
  pull_request:
    paths:
      - '.github/workflows/*.yaml'
      - '**.go'
      - '**.proto'

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'

      - name: Setup buf dependencies
        run: |
          go install github.com/bufbuild/buf/cmd/buf@v1.56.0
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@v2.27.1
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@v2.27.1
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.36.7

      - name: Cache go modules
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Make buf
        run: |
          make buf

      - name: Check if Go code has changed
        run: |
          if git diff; then
            echo "Generated Go code has not changed."
          else
            echo "Generated Go code has changed. Please make sure to commit the changes."
            exit 1
          fi

      - name: Run go tests
        run: |
          go test ./...        -run=^Test_U_ -coverprofile=root.cov
          go test ./deploy/... -run=^Test_U_ -coverprofile=deploy.cov
          go test ./sdk/...    -run=^Test_U_ -coverprofile=sdk.cov

          go install go.shabbyrobe.org/gocovmerge/cmd/gocovmerge@fa4f82cfbf4d57c646c1ed0f35002bf1b89fbf7a
          gocovmerge root.cov deploy.cov sdk.cov > unit.cov
          
      - name: Upload unit tests coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: unit.cov
          path: unit.cov

  e2e-tests:
    uses: ./.github/workflows/e2e.yaml

  coverages:
    name: Merge Coverage and Upload to Coveralls
    runs-on: ubuntu-latest
    needs: [unit-tests, e2e-tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: "go.work"

      - name: Download unit coverage
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v4.3.2
        with:
          name: unit.cov

      - name: Download e2e coverage
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v4.3.2
        with:
          name: e2e.cov

      - name: Merge coverage files
        run: |
          go install go.shabbyrobe.org/gocovmerge/cmd/gocovmerge@fa4f82cfbf4d57c646c1ed0f35002bf1b89fbf7a
          gocovmerge unit.cov e2e.cov > overall.cov

      - name: Upload coverage to Coveralls
        uses: shogo82148/actions-goveralls@e6875f831db61e6abffbd8df91a2eb6cd24b46c9 # v1.9.1
        with:
          path-to-profile: overall.cov
          ignore: api/v1/*/*.pb.go,api/v1/*/*.pb.gw.go

  go-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
      
      - name: go-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0

  buf-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          push: false
          lint: true
