name: CI

on: [push, pull_request]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: 'go.mod'

      - name: Setup buf dependencies
        run: |
          go install github.com/bufbuild/buf/cmd/buf
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway
          go install google.golang.org/protobuf/cmd/protoc-gen-go

      - name: Cache go modules
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Make buf
        run: |
          make buf

      - name: Check if Go code has changed
        run: |
          if git diff; then
            echo "Generated Go code has not changed."
          else
            echo "Generated Go code has changed. Please make sure to commit the changes."
            exit 1
          fi

      - name: Run go tests
        run: make tests
      
      # - name: Upload coverage to Coveralls
      #   uses: shogo82148/actions-goveralls@785c9d68212c91196d3994652647f8721918ba11 # v1.9.0
      #   with:
      #     path-to-profile: 'cov.out'

  go-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: 'go.mod'
      
      - name: go-lint
        uses: golangci/golangci-lint-action@aaa42aa0628b4ae2578232a66b541047968fac86 # v6.1.0
        with:
          args: --timeout=30m
