name: CI

on:
  push:
    paths:
      - '.github/workflows/*.yaml'
      - '**.go'
      - '**.proto'
      - '**/go.mod'
  pull_request:
    paths:
      - '.github/workflows/*.yaml'
      - '**.go'
      - '**.proto'
      - '**/go.mod'

permissions:
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Setup buf dependencies
        run: |
          go install github.com/bufbuild/buf/cmd/buf@v1.56.0
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@v2.27.1
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@v2.27.1
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.36.7

      - name: Cache go modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Make buf
        run: |
          make buf

      - name: Check if Go code has changed
        run: |
          if git diff; then
            echo "Generated Go code has not changed."
          else
            echo "Generated Go code has changed. Please make sure to commit the changes."
            exit 1
          fi

      - name: Run go tests
        run: |
          go test ./...        -run=^Test_U_ -coverprofile=root.cov
          go test ./deploy/... -run=^Test_U_ -coverprofile=deploy.cov
          go test ./sdk/...    -run=^Test_U_ -coverprofile=sdk.cov

          go install go.shabbyrobe.org/gocovmerge/cmd/gocovmerge@fa4f82cfbf4d57c646c1ed0f35002bf1b89fbf7a
          gocovmerge root.cov deploy.cov sdk.cov > unit.cov
          
      - name: Upload unit tests coverage
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: unit.cov
          path: unit.cov

  e2e-tests:
    uses: ./.github/workflows/e2e.yaml

  coverages:
    name: Merge Coverage and Upload to Coveralls
    runs-on: ubuntu-latest
    needs: [unit-tests, e2e-tests]
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.work"

      - name: Download unit coverage
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v4.3.2
        with:
          name: unit.cov

      - name: Download e2e coverage
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v4.3.2
        with:
          name: e2e.cov

      - name: Merge coverage files
        run: |
          go install go.shabbyrobe.org/gocovmerge/cmd/gocovmerge@fa4f82cfbf4d57c646c1ed0f35002bf1b89fbf7a
          gocovmerge unit.cov e2e.cov > overall.cov

      - name: Upload coverage to Coveralls
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1.10.0
        with:
          path-to-profile: overall.cov
          ignore: api/v1/*/*.pb.go,api/v1/*/*.pb.gw.go

  go-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      
      - name: go-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0

  buf-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          push: false
          lint: true
